body {
    /* Remove default body margin
        and center the body horizontally */
    margin: 0 auto;
    /* All content is only within a certain length */
    width: 900px;

    /* TODO: Why does it cover the whole page and not just the box? */
    background-color: #a0a0a0;
    font-family: system-ui, sans-serif;
}

/* Color all links */
/* --------------- */
a:any-link {
    color: brown;
}

a:hover {
    color: rgb(170, 72, 72);
}
/* --------------- */

header {
    /* Add manual spacing
        TODO: not sure if this is properly done */
    padding: 20px 0px;
}

h1 {
    /* Center the website title */
    text-align: center;
    /* Remove default h1 margin */
    margin: 0px;
}

nav {
    height: 50px;
    /* Equally stretches each button */
    display: flex;

    /* Space from main */
    margin-bottom: 10px;
}

/* Both nav menu buttons and main sections */
section {
    background-color: rgb(122, 122, 122);
    border: solid black 2px;
    border-radius: 5px;
}

/* Navigational menu buttons */
nav > section {
    font-size: 20px;
    text-align: center;
    /* Make each button the same width */
    flex: 1;
    margin: 0px 5px;
}

main > section {
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    /* Separate footer from main block */
    margin-top: 10px;
}
