html {
    font-size: 16px;
}

body {
    /* Remove default body margin
        and center the body horizontally */
    margin: 0 auto;
    /* All content is only within a certain length */
    width: 900px;

    /* TODO: Why does it cover the whole page and not just the box? */
    background-image: url(../../static/viewer/texture.jpg);
    font-family: system-ui, sans-serif;
}

/* Color all links */
/* --------------- */
a:any-link {
    color: brown;
}

a:hover {
    color: rgb(170, 72, 72);
}
/* --------------- */

header {
    /* Add manual spacing
        TODO: not sure if this is properly done */
    margin: 20px 0px;
}

h1 {
    /* Center the website title */
    text-align: center;
    /* Remove default h1 margin */
    margin: 0px;
    font-size: 2.5em;
}

/* Navigational menu */
nav {
    /* Button height */
    height: 50px;
    /* Equally stretches each button */
    display: flex;

    /* Space from main section */
    margin-bottom: 10px;
}

/* Section/button boxes */
section {
    background-color: rgb(122, 122, 122);
    border: solid black 2px;
    border-radius: 5px;
}

/* Navigational menu buttons */
nav > section {
    /* anchor inherits font attributes */
    font-size: 1.4em;
    text-align: center;
    /* Make buttons equal width */
    flex: 1;
    margin: 0px 5px;
}

main > section {
    padding: 15px;
    margin-bottom: 10px;
}

main > section > h2 {
    margin: 10px 0;
}

footer {
    /* Separate footer from main block */
    margin-top: 10px;
}

footer, header {
    /* Make text stand out from background */
    color:rgb(202, 202, 202);
}