<!-- This is the template used for all pages in this website -->
<!-- It contains the header, navigation menu, content "block", and footer -->
{% load static %}

<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>MTG Card Viewer</title>
        <link rel="stylesheet" type="text/css" href="{% static 'viewer/style.css' %}">
    </head>
    <body>
        <!-- Header -->
        <header>
            <h1>MTG Viewer</h1>
        </header>

        <!-- Navigation menu -->
        <nav>
            <ul>
                <li>
                    <a href="{% url 'index' %}" class="nav_button">
                        Home
                    </a>
                </li>
                <li>
                    <a href="{% url 'search' %}" class="nav_button">
                        Database
                    </a>
                </li>
                <li>
                    <a href="{% url 'contact' %}" class="nav_button">
                        Contact Me
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page content -->
        <main>
            <article>
                <h2>
                    {% block title %}
                        Page Title Goes Here
                    {% endblock %}
                </h2>
                {% block content %}
                <section>
                    <h2>
                        Section 1
                    </h2>
                    <p>
                        This is a section of this webpage. All of the page's contents go into these sections.
                    </p>
                </section>
                <section>
                    <h2>
                        Section 2
                    </h2>
                    <p>
                        This is another section. You may add as many as you want.
                    </p>
                </section>
                {% endblock %}
            </article>
        </main>

        <!-- Footer -->
        <footer>
            Copyright 2021 ProphecyRox
        </footer>
    </body>
</html>
