<!-- This is the template used for all pages in this website -->
<!-- It contains the header, navigation menu, content "block", and footer -->
{% load static %}

<!DOCTYPE html>

<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <title>MTG Card Viewer</title>
        <link rel="stylesheet" type="text/css" href="{% static 'viewer/style.css' %}">
    </head>
    <body>
        <!-- Header -->
        <header>
            <h1>MTG Viewer</h1>
        </header>

        <!-- Navigation menu -->
        <nav>
            <ul>
                <li>
                    <a href="/viewer/" class="nav_button">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/viewer/search/" class="nav_button">
                        Database
                    </a>
                </li>
                <li>
                    <a href="/viewer/contact/" class="nav_button">
                        Contact Me
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page content -->
        <main>
            <article>
                <h2>
                    {% block title %}
                    {% endblock %}
                </h2>
                {% block content %}
                {% endblock %}
            </article>
        </main>

        <!-- Footer -->
        <footer>
            Copyright 2021 ProphecyRox
        </footer>
    </body>
</html>
